/* 头部样式一 */
.wlb-header {
  width: 100%;
  height: 70px;
  background: #ffffff;
}
.wlb-header .row {
  align-items: center;
}
.wlb-header .row .wlb-header-left {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
.wlb-header .row .wlb-header-left img {
  width: 24%;
}
.wlb-header .row .wlb-header-right {
  color: #ff6000;
  font-size: 16px;
  font-weight: bolder;
  text-align: right;
  line-height: 65px;
  font-style: oblique;
}
