.main{
	max-width: 1000px;
	background: #fff;
	margin: 0 auto;
}
.title{
	background: #f9fafe;
	width: 100%;
	display: inline-block;
}
.title-left{
	float: left;
    max-width: 50%;
    padding-left: 10%;
    padding-top: 10%;
    text-align: left;
}
.title-left img{
	width: 60%;
	margin-left: -4px;
}
.title-left .user-zw{
	font-size: 14px;
	margin-top: 20px;
	color: #666;
}
.title-left .user-zw b{
	font-weight: bold;
}
.title-right{
	float: right;
    max-width: 40%;
    text-align: right;
}
.title-right img{
	width: 80%;
    height: 100%;
}
.person-info{
	margin-top: 80px;
}
.person-info p{
	font-size: 14px;
	color: #666;
	margin-bottom: 18px;
} 
.person-info p .ico{
	display: inline-block;
	width: 18px; 
	height: 18px;
	
	vertical-align: middle;
	margin: -4px 6px 0 0;

}
.person-info p .ico-user{
	background: url(../images/libo-5.png) no-repeat left center;
	background-size: 100%;
}
.person-info p .ico-phone{
	background: url(../images/libo-3.png) no-repeat left center;
	background-size: 100%;
}
.person-info p .ico-yj{
	background: url(../images/libo-4.png) no-repeat left center;
	background-size: 100%;
}
.user-box{
	display: inline-block;
	margin-top: 30px;
}

.user-box-left{
	width: 25%;
	float: left;
	padding:0 5%;
}
.user-box-left h1{
	font-size: 24px;
    color: #323232;
    margin-top: 46px;
}

.user-box-left p{
	color: #979797;
    font-size: 14px;
    margin-top: 4px;
}

.user-img{
	width: 30%;
	margin-top: 50px;
}

.user-box-left ul{
	display: block;
	margin-top: 24px;
}
.user-box-left ul li{
	color: #666;
	font-size: 14px;
	line-height: 26px;
}
.user-box-left ul li b{
	font-weight: bold;
}
.br-top{
	margin-top: 24px;
}
.user-box-right{
	width: 62%;
	float: right;
    background: #f6f6f6;
    padding-top: 46px;
    padding-left: 3%;
    padding-bottom: 50px;
}
.user-box-right .inf-title{
	font-size: 24px;
    color: #323232;
}
.user-box-right .inf-js{
	color: #979797;
    font-size: 14px;
    margin-top: 4px;
}

.company-list-1{
	margin-top: 64px;
}
.company-list-1 h3{
	color: #2c2c2c;
	margin-top: 34px;
}
.company-list-1 h3:nth-child(1){
	margin-top: 0;
}
.company-list-1 h3 .company-time{
	font-size: 14px;
    display: inline-block;
    width: 27%;
}
.company-list-1 h3 .company-name{
	font-size: 16px;
	margin-left: 5%;
	font-weight: 600;
}
.company-list-1 h3 .company-post{
	font-size: 16px;
	font-weight: 600;
	margin-left: 8%;
}

.company-list-1 ul{
	display: block;
	margin-top: 20px;
	width: 67%;
	padding-left: 33%;
}
.company-list-1 ul li{
	line-height: 30px;
	font-size: 14px;
	color: #666;
}
.skillbox{
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
}
.skillbox h1{
	font-size: 24px;
    color: #323232;
    margin-top: 46px;
}

.skillbox .skillbox-title{
	color: #979797;
    font-size: 14px;
    margin-top: 4px;
}
.basicintro{
	margin-top: 25px;
    line-height: 20px;
    font-size: 14px;
}
.color1 {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #3c763d;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -4px;
}
.color2 {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    color: #8a6d3b;
    margin-left: 30px;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -4px;
}
.skillbox p{
	font-size: 13px;
	margin-top: 20px;
	display: block;
	font-weight: bold;
}
.skillbox span {
    padding: 8px 10px;
    border: 1px solid #f3f3f3;
    background: #fbfbfb;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    margin-top: 20px;
}
.skills1 {
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #3c763d;
}
.skills2 {
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    color: #8a6d3b;
}
.skillbox-l{
	width: 50%;
	float: left;
}

.projectbox {
    line-height: 24px;
    color: #666;
    margin-top: 30px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 20px;
}
.projectbox .smalltitle {
    font-size: 16px;
    color: #ff6700;
}
.projectbox a {
    text-decoration: none;
    color: #ff6700;
}
.projectbox p {
    margin-top: 10px;
    font-size: 14px;
}
.projectbox .detail {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
.projectbox .detail {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}


























